
TestApi/TestApi/obj/staticwebassets.pack.sentinel
TestApi/.vs/TestApi/v17/.suo
TestApi/.vs/TestApi/v17/.futdcache.v1
TestApi/.vs/TestApi/project-colors.json
TestApi/.vs/TestApi/DesignTimeBuild/.dtbcache.v2
